---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import ProjectCard from "@components/ProjectCard";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedProjects from "@utils/getSortedProjects";
import slugify, { slugifyProject } from "@utils/slugify";

const posts = await getCollection("blog");
const projects = await getCollection("project");

const sortedPosts = getSortedPosts(posts);
const sortedProjects = getSortedProjects(projects);
const featuredProjects = sortedProjects.filter(({ data }) => data.featured);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Kon'nichiwa​ 🙇🏻</h1>
      <p>
        At LainForge,
      </p>
      <ul>
        <li class="my-3">1. We solve <a href="/projects" class="underline-links">problems</a></li>
        <li class="my-3">2. We write about <a href="/posts" class="underline-links">solving problems</a> </li>
      </ul>
      <p>Scroll down for more ⬇️</p>
    </section>

    <Hr />

    <section id="recent-posts">
      <ul>
        { 
          sortedPosts.reduce((acc, { data }) => {
            // Check if the post meets the conditions (not in the "project" category)
            if (acc.length < 2 && data.category !== "project") {
              acc.push(
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              );
            }
            return acc;
          }, [])
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-2 pt-4;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  .underline-links {
    @apply underline decoration-wavy decoration-1 underline-offset-4;
  }
</style>
