---
import { CollectionEntry, getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import getPageNumbers from "@utils/getPageNumbers";
import slugify from "@utils/slugify";
import { SITE } from "@config";
import getSortedPosts from "@utils/getSortedPosts";

export async function getStaticPaths() {
  const projects = await getCollection("project", ({ data }) => !data.draft);

  const projectResult = projects.map(project => ({
    params: { slug: slugify(project.data) },
    props: { project },
  }));

  const pagePaths = getPageNumbers(projects.length).map(pageNum => ({
    params: { slug: String(pageNum) },
  }));

  return [...projectResult, ...pagePaths];
}

const { project } = Astro.props;

const blogs = await getCollection("blog");

let sortedDevlogs = getSortedPosts(blogs);
sortedDevlogs =  sortedDevlogs
          .filter(({ data }) => data.projectTitle == project.data.title)

---

<Layout title={`Devlogs | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Devlogs" pageDesc="Follow the development process of Neura-Launch.">
    <ul>
      {
        sortedDevlogs
          .map(({ data }) => (
            <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
          ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>